body {
  font-family: "Noto Sans TC", sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

body {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: block;
}

img {
  display: block;
}

main {
  max-width: 1920px;
  width: 100%;
  background-color: #F9FCDE;
  margin: 0px auto;
}

@media screen and (max-width: 550px) {
  main {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    min-height: calc(100vh - 136px);
    max-height: unset;
    padding: 0px 16px;
  }
}

main .main-container {
  width: 100%;
  min-height: calc(100vh - 136px);
  max-height: calc(100vh - 136px);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 142px;
  position: relative;
}

@media screen and (max-width: 1920px) {
  main .main-container {
    padding: 0px 7.3958vw;
  }
}

@media screen and (max-width: 768px) {
  main .main-container {
    max-width: 500px;
    padding: 0px;
    margin: 0px auto;
  }
}

@media screen and (max-width: 550px) {
  main .main-container {
    height: 100%;
    max-height: unset;
  }
}

@media screen and (max-width: 768px) {
  main .main-container {
    min-height: calc(100vh - 104px);
    max-height: calc(100vh - 104px);
    height: calc(100vh - 104px);
  }
}

@media screen and (max-width: 550px) {
  main .main-container {
    min-height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
    height: calc(100vh - 56px);
  }
}

main .main-container .line {
  max-width: 1920px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: calc(50%);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px) {
  main .main-container .line {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
    width: calc(100vh - 136px);
  }
}

@media screen and (max-width: 550px) {
  main .main-container .line {
    width: 560px;
  }
}

main .main-container .line svg {
  width: 100%;
}

main .main-container .links {
  width: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1920px) {
  main .main-container .links {
    width: 100vw;
    margin: 0px auto;
    padding: 0px 7.3958vw;
  }
}

@media screen and (max-width: 1000px) {
  main .main-container .links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 768px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  main .main-container .links {
    margin: unset;
    height: calc(100vh - 136px);
    padding: 0px;
  }
}

@media screen and (max-width: 550px) {
  main .main-container .links {
    position: relative;
    height: unset;
    padding: 0px;
    width: unset;
  }
}

@media screen and (max-width: 435px) {
  main .main-container .links {
    margin: 0px auto;
  }
}

main .main-container .links .link-groups {
  width: 100%;
  max-width: 1577px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 56px;
}

@media screen and (max-width: 1920px) {
  main .main-container .links .link-groups {
    max-width: unset;
    width: 100%;
    margin: 0px auto;
  }
}

@media screen and (max-width: 1600px) {
  main .main-container .links .link-groups {
    padding-bottom: 1.3vw;
  }
}

@media screen and (max-width: 1400px) {
  main .main-container .links .link-groups {
    padding-bottom: 1.5vw;
  }
}

@media screen and (max-width: 1000px) {
  main .main-container .links .link-groups {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: calc(100vh - 82px);
  }
}

@media screen and (max-width: 768px) {
  main .main-container .links .link-groups {
    width: 202px;
    height: 733px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px;
  }
}

@media screen and (max-width: 550px) {
  main .main-container .links .link-groups {
    height: unset;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 0px auto;
    width: unset;
  }
}

main .main-container .links .link-groups .link {
  max-width: 452px;
  width: 452px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-right: 128px;
}

main .main-container .links .link-groups .link:nth-last-child(1) {
  margin-right: 0px;
}

@media screen and (max-width: 1920px) {
  main .main-container .links .link-groups .link {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    width: calc(33.33% - 5vw);
    margin-right: 0px;
  }
}

@media screen and (max-width: 768px) {
  main .main-container .links .link-groups .link {
    width: 202px;
    height: 182px;
  }
}

@media screen and (max-width: 550px) {
  main .main-container .links .link-groups .link {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    width: unset;
  }
}

main .main-container .links .link-groups .link a {
  display: block;
  text-decoration: none;
  color: initial;
}

main .main-container .links .link-groups .link .link-texts {
  width: 70.65%;
  width: 100%;
  padding-left: 113px;
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
}

@media screen and (max-width: 1920px) {
  main .main-container .links .link-groups .link .link-texts {
    padding-left: 5.885vw;
    margin-left: auto;
  }
}

@media screen and (max-width: 1000px) {
  main .main-container .links .link-groups .link .link-texts {
    display: none;
  }
}

main .main-container .links .link-groups .link .link-texts .link-line {
  width: 100%;
}

@media screen and (max-width: 1920px) {
  main .main-container .links .link-groups .link .link-texts .link-line {
    width: 16.25vw;
    padding-left: 0px;
    margin-left: auto;
  }
}

main .main-container .links .link-groups .link .link-texts .link-text {
  font-weight: 600;
  max-width: 270px;
  width: 86.26%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1920px) {
  main .main-container .links .link-groups .link .link-texts .link-text {
    max-width: unset;
    width: 14vw;
  }
}

main .main-container .links .link-groups .link .link-texts .top-text {
  font-size: 36px;
  color: #004643;
}

@media screen and (max-width: 1600px) {
  main .main-container .links .link-groups .link .link-texts .top-text {
    font-size: 32px;
  }
}

@media screen and (max-width: 1400px) {
  main .main-container .links .link-groups .link .link-texts .top-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 1200px) {
  main .main-container .links .link-groups .link .link-texts .top-text {
    font-size: 24px;
  }
}

@media screen and (max-width: 1100px) {
  main .main-container .links .link-groups .link .link-texts .top-text {
    font-size: 20px;
  }
}

main .main-container .links .link-groups .link .link-texts .bottom-text {
  font-size: 28px;
  margin-top: -32px;
  color: #FF8484;
}

@media screen and (max-width: 1600px) {
  main .main-container .links .link-groups .link .link-texts .bottom-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 1400px) {
  main .main-container .links .link-groups .link .link-texts .bottom-text {
    margin-top: -28px;
  }
}

@media screen and (max-width: 1300px) {
  main .main-container .links .link-groups .link .link-texts .bottom-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  main .main-container .links .link-groups .link .link-texts .bottom-text {
    font-size: 16px;
  }
}

main .main-container .links .link-groups .link .icon {
  position: relative;
  margin-top: 16px;
}

@media screen and (max-width: 1920px) {
  main .main-container .links .link-groups .link .icon {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

@media screen and (max-width: 1400px) {
  main .main-container .links .link-groups .link .icon {
    margin-top: 8px;
  }
}

@media screen and (max-width: 768px) {
  main .main-container .links .link-groups .link .icon {
    width: 202px;
    height: 182px;
  }
}

main .main-container .links .link-groups .link .icon .icon-border {
  max-width: 226px;
  width: 226px;
  height: auto;
  position: relative;
}

@media screen and (max-width: 1920px) {
  main .main-container .links .link-groups .link .icon .icon-border {
    max-width: unset;
    width: 11.77vw;
  }
}

@media screen and (max-width: 1600px) {
  main .main-container .links .link-groups .link .icon .icon-border {
    width: 8vw;
  }
}

@media screen and (max-width: 768px) {
  main .main-container .links .link-groups .link .icon .icon-border {
    width: 202px;
    max-width: 202px;
    height: 182px;
  }
}

main .main-container .links .link-groups .link .icon .icon-border svg {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 1000px) {
  main .main-container .links .link-groups .link .icon .icon-border svg {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

main .main-container .links .link-groups .link .icon .icon-border .icon-pic {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 226px;
  border-radius: 50%;
}

@media screen and (max-width: 1920px) {
  main .main-container .links .link-groups .link .icon .icon-border .icon-pic {
    width: 11.77vw;
    height: 11.77vw;
  }
}

@media screen and (max-width: 1600px) {
  main .main-container .links .link-groups .link .icon .icon-border .icon-pic {
    width: 8vw;
    height: 8vw;
  }
}

@media screen and (max-width: 1000px) {
  main .main-container .links .link-groups .link .icon .icon-border .icon-pic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  main .main-container .links .link-groups .link .icon .icon-border .icon-pic {
    width: 182px;
    height: 182px;
    right: 0px;
  }
}

main .main-container .links .link-groups .link .icon .icon-border .icon-pic .i {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1920px) {
  main .main-container .links .link-groups .link .icon .icon-border .icon-pic .i {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 1600px) {
  main .main-container .links .link-groups .link .icon .icon-border .icon-pic .i {
    width: 8vw;
  }
}

@media screen and (max-width: 1000px) {
  main .main-container .links .link-groups .link .icon .icon-border .icon-pic .i {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@media screen and (max-width: 768px) {
  main .main-container .links .link-groups .link .icon .icon-border .icon-pic .i {
    width: 60px;
    height: 60px;
  }
}

main .main-container .links .link-groups .link .icon .icon-border .icon-pic .i svg {
  width: 60%;
  fill: #444444;
}

@media screen and (max-width: 768px) {
  main .main-container .links .link-groups .link .icon .icon-border .icon-pic .i svg {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  main .main-container .links .link-groups .link .icon .icon-border .icon-pic .hightway {
    width: 69px;
    height: 69px;
  }
}

main .main-container .links .link-groups .link .icon .icon-border .icon-pic .phone-texts {
  display: none;
}

@media screen and (max-width: 1000px) {
  main .main-container .links .link-groups .link .icon .icon-border .icon-pic .phone-texts {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .main-container .links .link-groups .link .icon .icon-border .icon-pic .phone-texts .big-text {
  font-size: 20px;
  color: #004643;
}

main .main-container .links .link-groups .link .icon .icon-border .icon-pic .phone-texts .small-text {
  font-size: 16px;
  color: #FF8484;
}

main .main-container .links .link-groups .link .icon .icon-border .icon-pic0 {
  top: 0px;
}

main .main-container .links .link-groups .link .icon .icon-border-1 > svg {
  fill: #FF734B;
}

main .main-container .links .link-groups .link .icon .icon-border-2 > svg {
  fill: #FFC32D;
}

main .main-container .links .link-groups .link .icon .icon-border-3 > svg {
  fill: #5F8BEE;
}

main .main-container .links .link-groups .link .icon .icon-border-4 > svg {
  fill: #ABDC45;
}

main .main-container .links .link-groups .link .icon .icon-border-5 > svg {
  fill: #FB8C3B;
}

main .main-container .links .link-groups .link .icon .icon-border-6 > svg {
  fill: #5DDFC7;
}

main .main-container .links .link-groups1 {
  padding-bottom: 0px;
  padding-top: 56px;
}

@media screen and (max-width: 1600px) {
  main .main-container .links .link-groups1 {
    padding-top: 1.3vw;
  }
}

@media screen and (max-width: 1400px) {
  main .main-container .links .link-groups1 {
    padding-top: 1.5vw;
  }
}

@media screen and (max-width: 768px) {
  main .main-container .links .link-groups1 {
    padding: 0px;
    -webkit-transform: translateY(155px);
            transform: translateY(155px);
  }
}

@media screen and (max-width: 550px) {
  main .main-container .links .link-groups1 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    margin-top: 30px;
  }
}

main .main-container .links .link-groups1 .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (max-width: 550px) {
  main .main-container .links .link-groups1 .link {
    margin-right: auto;
  }
}

main .main-container .links .link-groups1 .link .link-texts {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 16px;
  padding-left: 0px;
  padding-right: 113px;
}

@media screen and (max-width: 1400px) {
  main .main-container .links .link-groups1 .link .link-texts {
    margin-top: 8px;
  }
}

main .main-container .links .link-groups1 .link .link-texts .link-line {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: -32px;
}

@media screen and (max-width: 1400px) {
  main .main-container .links .link-groups1 .link .link-texts .link-line {
    margin-top: -28px;
  }
}

main .main-container .links .link-groups1 .link .link-texts .top-text {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

main .main-container .links .link-groups1 .link .link-texts .bottom-text {
  position: relative;
  margin-top: 0px;
}

main .main-container .links .link-groups1 .link .link-texts .link-text {
  max-width: unset;
  width: 14vw;
}

main .main-container .links .link-groups1 .link .icon {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}

main .main-container .links .link-groups1 .link .icon .icon-border {
  margin-left: auto;
}

main .main-container .links .link-groups1 .link .icon .icon-border svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-filter: drop-shadow(0px -4px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px -4px 10px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 1000px) {
  main .main-container .links .link-groups1 .link .icon .icon-border svg {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

main .main-container .links .link-groups1 .link .icon .icon-pic1 {
  bottom: 0px;
}

@media screen and (max-width: 768px) {
  main .main-container .links .link-groups1 .link .icon .icon-pic1 {
    left: 0px;
  }
}

main .main-container .links .link-groups1 .link .icon .icon-pic1 .i {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-container .links .link-groups1 .link .icon .icon-pic1 .i svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media screen and (max-width: 1000px) {
  main .main-container .links .link-groups1 .link .icon .icon-pic1 .i svg {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media screen and (max-width: 1920px) {
  main .main-container .links .link-groups1 .link .icon .icon-pic1 .i {
    font-size: 4.5rem;
  }
}
/*# sourceMappingURL=01-index.css.map */