body {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: block;
}

img {
  display: block;
}

nav {
  max-width: 1920px;
  width: 100%;
  background-color: #004643;
  padding: 8px 40px;
  margin: 0px auto;
}

nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-container .logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav .nav-container .logo .logo-pic-text {
  margin-left: 16px;
}

object:hover mask {
  fill: yellowgreen;
}

.img {
  width: 200px;
}

.img:hover {
  background-color: orchid;
}

.a {
  width: 200px;
  cursor: pointer;
}

.a svg g path {
  fill: palegoldenrod;
}

.a:hover svg g path {
  fill: orchid;
}

main {
  max-width: 1920px;
  width: 100%;
  min-height: calc(100vh - 200px);
  background-color: #F9FCDE;
  margin: 0px auto;
}

main .main-container {
  width: 100%;
  min-height: calc(100vh - 200px);
  padding: 8px 142px;
  position: relative;
}

@media screen and (max-width: 1920px) {
  main .main-container {
    padding: 8px 7.5vw;
  }
}

main .main-container .line {
  max-width: 1920px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: calc(50%);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .main-container .line svg {
  width: 100%;
}

main .main-container .links {
  width: 100%;
}

@media screen and (max-width: 1920px) {
  main .main-container .links {
    max-width: 100%;
    width: 100%;
  }
}

main .main-container .links .link-groups {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-container .links .link-groups .link {
  max-width: 452px;
  width: calc(33.33% - 73.33px);
}

main .main-container .links .link-groups .link .link-texts {
  width: 70.65%;
  width: 100%;
  padding-left: 113px;
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
}

main .main-container .links .link-groups .link .link-texts .link-line {
  width: 100%;
}

main .main-container .links .link-groups .link .link-texts .link-text {
  font-weight: 600;
  max-width: 270px;
  width: 86.26%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1920px) {
  main .main-container .links .link-groups .link .link-texts .link-text {
    max-width: 270px;
    max-width: 86.26%;
  }
}

main .main-container .links .link-groups .link .link-texts .top-text {
  font-size: 36px;
  color: #004643;
}

main .main-container .links .link-groups .link .link-texts .bottom-text {
  font-size: 30px;
  margin-top: -32px;
  color: #FF8484;
}

main .main-container .links .link-groups .link .icon {
  position: relative;
  margin-top: 16px;
}

main .main-container .links .link-groups .link .icon .icon-border {
  max-width: 226px;
  width: 226px;
  height: auto;
  position: relative;
}

main .main-container .links .link-groups .link .icon .icon-border svg {
  width: 100%;
  position: relative;
  -webkit-filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.25));
}

main .main-container .links .link-groups .link .icon .icon-border .icon-pic {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 226px;
  border-radius: 50%;
}

main .main-container .links .link-groups .link .icon .icon-border .icon-pic .i {
  font-size: 130px;
}

main .main-container .links .link-groups .link .icon .icon-border .icon-pic0 {
  top: 0px;
}

main .main-container .links .link-groups .link .icon .icon-border-1 svg {
  fill: #FF734B;
}

main .main-container .links .link-groups .link .icon .icon-border-2 svg {
  fill: #FFC32D;
}

main .main-container .links .link-groups .link .icon .icon-border-3 svg {
  fill: #5F8BEE;
}

main .main-container .links .link-groups .link .icon .icon-border-4 svg {
  fill: #ABDC45;
}

main .main-container .links .link-groups .link .icon .icon-border-5 svg {
  fill: #FB8C3B;
}

main .main-container .links .link-groups .link .icon .icon-border-6 svg {
  fill: #5DDFC7;
}

main .main-container .links .link-groups1 {
  padding-top: 118px;
}

main .main-container .links .link-groups1 .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

main .main-container .links .link-groups1 .link .link-texts {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 16px;
  padding-left: 0px;
  padding-right: 113px;
}

main .main-container .links .link-groups1 .link .link-texts .link-line {
  width: 86.26%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: -32px;
}

main .main-container .links .link-groups1 .link .link-texts .top-text {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

main .main-container .links .link-groups1 .link .link-texts .bottom-text {
  position: relative;
  font-size: 30px;
  margin-top: 0px;
}

main .main-container .links .link-groups1 .link .icon {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}

main .main-container .links .link-groups1 .link .icon .icon-border {
  margin-left: auto;
}

main .main-container .links .link-groups1 .link .icon .icon-border svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-filter: drop-shadow(0px -4px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px -4px 10px rgba(0, 0, 0, 0.25));
}

main .main-container .links .link-groups1 .link .icon .icon-pic1 {
  bottom: 0px;
}
/*# sourceMappingURL=01-index.css.map */