.main-container {
    height: calc(100% - 38px);
    .bus_dynamic-list {
        width: 593px;
        height: 100%;
        padding: 20px;
        background-color: #F9BC60;
        .tabs{
            padding: 30px 0;
            .tab{
                width: 265px;
                height: 46px;
                background-color: #F9FCDE;
            }
        }
        .info{
            height: 790px;
            background-color: #F9FCDE;
            border-radius: 0 0 30px 30px;
        }
    } 
    .map {
        height: 100%;
        .county-list {
            width: 0px;
            // width: 153px;
            // height: calc(100vh - 126px);
            max-height: calc(100vh - 129px);
            height: max-content;
            background-color: wheat;
            padding-top: 13px;
            transition: 1s ease-in-out;
            overflow-y: auto;
    
            .county-btn {
                width: 130px;
                height: 130px;
                background-color: #f08080;
                border-radius: 0px 30px 30px 0px;
                margin-bottom: 30px;
                .btn-bg-circle {
                    width: 100px;
                    height: 100px;
                    background-color: #ffffff;
                    border: 13px solid #f9bc60;
                    font-size: 24px;
                }
            }
        }
        .active {
            width: 160px;
            transition: 1s ease-in-out;
            padding-right: 18px;
            overflow-y: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 10px;
                background-color: wheat;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #004643;
                border-radius: 5px;
            }
        }
    }
}
