body {
  font-family: "Noto Sans TC", sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

body {
  width: 100%;
  max-width: 1920px;
  position: relative;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
}

main {
  max-width: 1920px;
  width: 100%;
}

main .main-container {
  width: 100%;
  max-height: calc(100vh - 136px);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

main .main-container .bus-dynamic-list {
  min-width: 593px;
  padding: 20px;
  background-color: #f9bc60;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

main .main-container .bus-dynamic-list select {
  height: 50px;
}

main .main-container .bus-dynamic-list .ss-main .ss-single-selected {
  height: 36px;
  padding: 0 20px;
}

main .main-container .bus-dynamic-list .ss-main .ss-single-selected .placeholder {
  cursor: pointer;
  opacity: 1;
  background-color: transparent;
}

main .main-container .bus-dynamic-list .select-county {
  padding: 8px 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 20px;
  background-color: #f08080;
  border: 0;
  color: #f9fcde;
}

main .main-container .bus-dynamic-list .list-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .main-container .bus-dynamic-list .list-btn img {
  -webkit-filter: invert(22%) sepia(13%) saturate(4436%) hue-rotate(138deg) brightness(89%) contrast(102%);
          filter: invert(22%) sepia(13%) saturate(4436%) hue-rotate(138deg) brightness(89%) contrast(102%);
}

main .main-container .bus-dynamic-list .list-btn-active {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  margin-right: -100px;
}

main .main-container .bus-dynamic-list .bus-search {
  padding-top: 14px;
}

main .main-container .bus-dynamic-list .tabs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 14px;
}

main .main-container .bus-dynamic-list .tabs .tab {
  width: 50%;
  height: 36px;
  background-color: #f9fcde;
  border-radius: 8px 8px 0 0;
  border: 0;
}

main .main-container .bus-dynamic-list .tabs .active {
  background-color: #004643;
  color: #f9fcde;
}

main .main-container .bus-dynamic-list .info {
  border-top: 1px solid #f9fcde;
  height: calc(100vh - 336px);
  background-color: #f9fcde;
  border-radius: 0px 0px 30px 30px;
  padding-bottom: 35px;
  overflow-y: auto;
}

main .main-container .bus-dynamic-list .info::-webkit-scrollbar {
  width: 10px;
}

main .main-container .bus-dynamic-list .info::-webkit-scrollbar-track-piece {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: transparent;
}

main .main-container .bus-dynamic-list .info::-webkit-scrollbar-thumb {
  background-color: #004643;
  border-radius: 5px;
}

main .main-container .bus-dynamic-list .info table {
  text-align: center;
  margin-top: 28px;
}

main .main-container .bus-dynamic-list .info table thead {
  background-color: #004643;
  color: #f9bc60;
  font-size: 18px;
  top: 1px;
}

main .main-container .bus-dynamic-list .info table thead tr th:nth-child(1) {
  width: 8%;
}

main .main-container .bus-dynamic-list .info table thead tr th:nth-child(2) {
  width: 37%;
}

main .main-container .bus-dynamic-list .info table thead tr th:nth-child(3) {
  width: 15%;
}

main .main-container .bus-dynamic-list .info table thead tr th:nth-child(4) {
  width: 20%;
}

main .main-container .bus-dynamic-list .info table tbody tr {
  width: 100%;
}

main .main-container .bus-dynamic-list .info table tbody tr td:nth-child(1) {
  width: 8%;
}

main .main-container .bus-dynamic-list .info table tbody tr td:nth-child(2) {
  width: 37%;
}

main .main-container .bus-dynamic-list .info table tbody tr td:nth-child(3) {
  width: 15%;
}

main .main-container .bus-dynamic-list .info table tbody tr td:nth-child(4) {
  width: 20%;
}

main .main-container .bus-dynamic-list .info table tbody .arrive-time {
  margin: 8px 0;
  border-radius: 20px;
  padding: 4px 0;
  cursor: unset;
  background-color: #3E8380;
  color: #f9fcde;
  border: 0;
}

main .main-container .bus-dynamic-list .info table tbody .arrive-time:hover {
  color: #f9fcde;
  background-color: #f08080;
  border: unset;
}

main .main-container .bus-dynamic-list .bus-update {
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 0px 0px 30px 30px;
}

main .main-container .bus-dynamic-list .bus-update span:nth-child(1) {
  width: 100%;
  height: 5px;
  background-color: #f08080;
  -webkit-animation: line 10s linear infinite;
          animation: line 10s linear infinite;
}

@-webkit-keyframes line {
  from {
    width: 0;
  }
}

@keyframes line {
  from {
    width: 0;
  }
}

main .main-container .bus-dynamic-list .bus-update span:nth-child(2) {
  padding-left: 30px;
}

main .main-container .bus-dynamic-list .select2-container--bootstrap-5.select2-container--focus .select2-selection,
main .main-container .bus-dynamic-list .select2-container--bootstrap-5.select2-container--open .select2-selection {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

main .main-container .active-list {
  margin-left: -593px;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  opacity: 0;
}

main .map {
  height: 100%;
  height: calc(100vh - 136px);
  position: relative;
}

main .map .list-btn-map {
  position: absolute;
  top: 20px;
  left: -40px;
  z-index: 1;
  width: 60px;
  height: 60px;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

main .map .list-btn-map img {
  -webkit-filter: invert(22%) sepia(13%) saturate(4436%) hue-rotate(138deg) brightness(89%) contrast(102%);
          filter: invert(22%) sepia(13%) saturate(4436%) hue-rotate(138deg) brightness(89%) contrast(102%);
}

main .map .list-btn-map-active {
  opacity: 1;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  left: 20px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

main .map .county-list {
  width: 0px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: calc(100vh - 136px);
  background-color: wheat;
  padding-top: 13px;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  z-index: 2;
}

main .map .county-list .county-btn {
  width: 130px;
  height: 130px;
  background-color: #f08080;
  border-radius: 0px 30px 30px 0px;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-box-shadow: -3px -3px 8px inset #f73030;
          box-shadow: -3px -3px 8px inset #f73030;
}

main .map .county-list .county-btn:active {
  -webkit-box-shadow: 3px 3px 8px inset #f73030;
          box-shadow: 3px 3px 8px inset #f73030;
}

main .map .county-list .county-btn .btn-bg-circle {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 13px solid #f9bc60;
  font-size: 24px;
}

main .map .active {
  width: 160px;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  padding-right: 18px;
  overflow-y: auto;
  overflow-x: hidden;
}

main .map .active::-webkit-scrollbar {
  width: 10px;
  background-color: wheat;
}

main .map .active::-webkit-scrollbar-thumb {
  background-color: #004643;
  border-radius: 5px;
}

main .map .leaflet-pane {
  z-index: 0 !important;
}

main .map .leaflet-top,
main .map .leaflet-bottom {
  z-index: 0 !important;
}
/*# sourceMappingURL=03-bus-dynamic.css.map */